@import '../../styles/variables/sizes';
@import '../../styles/variables/palette';

.panel {
  padding: $panel-side-v-paddings 0;
  min-width: $panel-side-width;
  background-color: $white-color;
  border-right: 1px solid $border-color;
}

.panelRight {
  border-right: none;
  border-left: 1px solid $border-color;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 $panel-side-h-paddings;
}
