@import '../../styles/variables/fonts';

// FONT-SIZE

.fz14 {
  font-size: $fz14;
}

.fz16 {
  font-size: $fz16;
}

.fz18 {
  font-size: $fz18;
}

.fz20 {
  font-size: $fz20;
}

.fz22 {
  font-size: $fz22;
}

.fz24 {
  font-size: $fz24;
}

.fz26 {
  font-size: $fz26;
}

.fz30 {
  font-size: $fz30;
}

// FONT-WEIGHT

.light {
  font-weight: $fwLight;
}

.normal {
  font-weight: $fwNormal;
}

.semi-bold {
  font-weight: $fwSemiBold;
}

.bold {
  font-weight: $fwBold;
}

.bolder {
  font-weight: $fwBolder;
}
