.controls {
  margin-bottom: 16px;
}

.label {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.input {
  margin-left: 10px;
}

.btn {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 16px;
}

.colorPickBtn {
  position: relative;
  background-image: url("../../shared/assets/icons/colorPick.svg");
  &::-webkit-color-swatch-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    padding: 0;
  }
}
