.modalContainer {
  display: flex;
  flex-direction: column;
}

.title {
  flex-grow: 1;
  margin-bottom: 25px;
}

.text {
  margin-bottom: 25px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}
