@import '../../shared/styles/variables/palette';

.chatLineFrame {
  flex-grow: 1;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background: linear-gradient(to top, transparent, white);
  }
}

.chatLine {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 225px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.message {
  white-space: pre-wrap;
  word-break: break-all;
  margin-bottom: 10px;
}
