// FONT-SIZE

$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz22: 22px;
$fz24: 24px;
$fz26: 26px;
$fz30: 26px;

// FONT-WEIGHT

$fwLight: 200;
$fwNormal: 400;
$fwSemiBold: 500;
$fwBold: 700;
$fwBolder: 900;
