@import '../../styles/variables/palette';
@import '../../styles/variables/sizes';

.panel {
  border-bottom: 1px solid $border-color;
  background-color: $white-color;
}

.container {
  display: flex;
  align-items: center;
  width: 900px;
  height: $panel-height;
  margin: 0 auto;
}
