@import '../../styles/variables/palette';

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  &[class~=primary] {
    border: 1px solid $border-color;
    background-color: $border-color;
  }
  &[class~=close] {
    border: 1px solid $border-color;
    background-color: $background-color;
  }
  &:disabled {
    color: buttontext;
    opacity: .7;
  }
}
