@import '../../styles/variables/palette';

.input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid $border-color;
  background-color: $background-color;
  margin-bottom: 5px;
  &:focus {
    background-color: $white-color;
  }
}
