@import '../../shared/styles/variables/sizes';
@import '../../shared/styles/variables/palette';

.canvasWrap {
  margin: 60px auto;
}

.canvasWrapOffline {
  padding-right: $panel-side-width;
}

.canvas {
  border: 1px solid $border-color;
  background-color: $white-color;
}
