@import '../variables/fonts';

h1 {
  font-size: $fz30;
}

h2 {
  font-size: $fz26;
}

h3 {
  font-size: $fz22;
}

h4 {
  font-size: $fz22;
  font-weight: $fwSemiBold;
}

h5 {
  font-size: $fz22;
  font-weight: $fwNormal;
}

h6 {
  font-size: $fz22;
  font-weight: $fwLight;
}
