.btn {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 16px;
  &:disabled {
    opacity: .5;
  }
}

.brushBtn {
  background-image: url("../../shared/assets/icons/brush.svg");
}

.rectBtn {
  background-image: url("../../shared/assets/icons/rect.svg");
}

.circleBtn {
  background-image: url("../../shared/assets/icons/circle.svg");
}

.eraserBtn {
  background-image: url("../../shared/assets/icons/eraser.svg");
}

.lineBtn {
  background-image: url("../../shared/assets/icons/line.svg");
}

.undoBtn {
  background-image: url("../../shared/assets/icons/undo.svg");
  margin-left: auto;
}

.redoBtn {
  background-image: url("../../shared/assets/icons/redo.svg");
}

.saveBtn {
  background-image: url("../../shared/assets/icons/save.svg");
}

.deleteBtn {
  background-image: url("../../shared/assets/icons/delete.svg");
  margin-right: 0;
}
