@import '../../styles/variables/palette';

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.modal {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  min-height: 350px;
  padding: 45px 60px 35px;
  background-color: $white-color;
}
